.menu {
  color: yellow;
  padding: 20px;
  background-color: #1e1e1c;
  text-align: center;
  font-size: 1rem;
  font-family: Rock Salt, cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
}
.menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.menu li {
  text-decoration: none;
}
