.card_structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1c;
  color: #f2eb3e;
  border-radius: 10%;
  padding: 33px;
  font-family: Rock Salt, cursive;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 490px;
  word-spacing: 0.2rem;
  margin: 30px 480px 5rem;

  @media (min-width: 700px) {
    margin: 90px 250px;
    padding: 0;
    height: 489px;
    padding-bottom: 111px;
    padding-top: 18px;
  }

  img {
    object-fit: contain;
  }
}

.history {
  width: 500px;
  letter-spacing: 0.05rem;
}

li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .card_structure {
    height: 489px;
    padding-bottom: 111px;
    padding-top: 18px;
    margin: 16px 15px 80px;
  }

  .history {
    width: 300px;
    margin-left: 19px;
    word-spacing: 0.1rem;
  }
}
