.name {
  text-decoration: none;
}
.card_structure {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem;
  font-family: Rock Salt, cursive;
}

.name_box {
  color: yellow;
  background-color: #1e1e1c;
  font-family: Rock Salt, cursive;
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  height: 41px;
  width: 240px;
  left: 85px;
  top: 411px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  word-break: break-all;
  margin: 1.2rem 0;
  border: 1px solid transparent;
  object-fit: contain;

  @media (min-width: 1200px) {
    font-size: 0.8rem;
    letter-spacing: 0.02;
  }
}

.name_box:hover {
  background-color: #f2eb3e;
  color: #1e1e1c;
  border: 0.1px solid #1e1e1c;
  transition: 0.1s;
}

.image {
  object-fit: contain;
  max-height: 100%;
}
