.header {
  background-color: #1e1e1c;

  h1 {
    font-size: 1.5rem;
    color: #f2eb3e;
    font-family: Rock Salt, cursive;
    text-align: center;
    padding: 1.4rem 0 0.5rem;
    word-spacing: 0.3rem;
    letter-spacing: 0.2rem;

    @media (min-width: 1200px) {
      font-size: 3rem;
    }
  }
}
