header {
  background-color: #1e1e1c;
  text-align: center;

  h1 {
    font-size: 3rem;
    color: rgba(242, 235, 62, 1);
    font-family: Rock Salt;
    text-align: center;
    padding-top: 1.8rem;
  }
}
